[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = "*"

[packages]
"datapackage-pipelines[develop,speedup]" = "<1.7.0"
setuptools = "*"
python-dotenv = "*"
"7600495" = {file = "https://github.com/hasadna/knesset-data-python/archive/v2.0.1.zip"}
ipython = "*"
sh = "*"
datapackage-pipelines-metrics = "*"
psutil = "*"
"49db258" = {file = "https://github.com/hasadna/knesset-data-pipelines/archive/master.zip"}

[requires]
python_version = "3.6"
