{% extends "site_base.html" %}

{% block breadcrumbs %}
    <li><a href="{{members_home_url}}">ח"כים וסיעות</a> <span class="divider">/</span></li>
    <li class="active">{{first_name}} {{last_name}}</li>
{% endblock %}

{% block divcontent %}
    <section class="card card-main">
        <div class="row">
            <div class="span2">
                <div class="spacer">
                    <img src="{{photo}}" alt="{{first_name}} {{last_name}}">
                </div>
            </div>
            <div class="span7 card-details">
                <div class="spacer fill">
                    <header>
                        <h1>{{first_name}} {{last_name}}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="cards span9">
            <section class="card card-list card-list-latest">
                <header>
                    <h2>
                        <i class="fa fa-users"></i>
                       	תפקידים
                    </h2>
                </header>
                <ul id="recent-committees">
                    {% for position in positions %}
                        {% if position.FactionID or position.GovMinistryID or position.CommitteeID %}
                        <li>
                            <p class="item-action">
								הכנסת ה{{position.KnessetNum}}

								{% if position.start_date %}
									מ{{position.start_date|datetime('%d/%m/%Y')}}
								{% endif %}

								{% if position.finish_date %}
									עד {{position.finish_date|datetime('%d/%m/%Y')}}
								{% endif %}
                            </p>
                            <p class="item-title">
                                {% if position.FactionID %}
                                    <!--<a href="{{faction_url | replace('{faction_id}', position.FactionID)}}">-->
                                		{{position.FactionName}}
                                    <!--</a>-->
                                {% elif position.GovMinistryID %}
                                    <!--<a href="{{ministry_url | replace('{ministry_id}', position.GovMinistryID)}}">-->
	                                    {{position.GovMinistryName}}
                                    <!--</a>-->
                                {% elif position.CommitteeID %}
                                    <!--<a href="{{committee_url | replace('{committee_id}', position.CommitteeID)}}">-->
	                                    {{position.CommitteeName}}
                                    <!--</a>-->
                                {% endif %}
                            </p>
                            <p class="item-context">
                                {{position.position}}
                            </p>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}

{% block data_sources %}
    {{ super() }}
    <p>להלן נתוני המקור כפי שהם מופיעים במאגרי המידע של הכנסת באמצעות ממשק מידע פרלמנטרי זמין - </p>
    <p style="font-size:130%;"><u><b>ח"כ</b></u></p>
    {% for field in source_member_schema.fields %}
        {% if field.name == "positions" %}
            <b>positions</b>:
            <ul>{% for position in positions %}
                <li>{{position}}</li>
            {% endfor %}</ul>
        {% elif field.description and source_member_row[field.name] %}
            <b>{{field.description}}</b>: <p>{{source_member_row[field.name]}}</p>
        {% else %}
            <b>{{field.name}}</b>: <p>{{source_member_row[field.name]}}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
