{% extends "site_base.html" %}

{% block breadcrumbs %}
    <li class="active">{{first_name}} {{last_name}}</li>
{% endblock %}

{% block divcontent %}
    <section class="card card-main">
        <div class="row">
            <div class="span2">
                <div class="spacer">
                    <img src="{{photo}}" alt="{{first_name}} {{last_name}}">
                </div>
            </div>
            <div class="span7 card-details">
                <div class="spacer fill">
                    <header>
                        <h1>{{first_name}} {{last_name}}</h1>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <div class="row">
        <div class="cards span9">
            <section class="card card-list card-list-latest">
                <header>
                    <h2>
                        <i class="fa fa-users"></i>
                       	תפקדים
                    </h2>
                </header>
                <ul id="recent-committees">
                    {% for position in positions %}
                        <li>
                            <p class="item-action">
								הכנסת ה{{position.KnessetNum}}
								מ{{position.start_date|datetime('%d/%m/%Y')}}
								עד {{position.finish_date|datetime('%d/%m/%Y')}}
                            </p>
                            <p class="item-title">
                                <a href="{{position_url | replace('{position_id}', position.position_id)}}">
                                    {{position.position}}
                                </a>
                            </p>
                            <p class="item-context">

                                {% if position.FactionID %}
                                    <a href="{{faction_url | replace('{faction_id}', position.FactionID)}}">
                                		סיעה {{position.FactionName}}
                                    </a>
                                {% endif %}

                                {% if position.GovMinistryID %}
                                    <a href="{{ministry_url | replace('{ministry_id}', position.GovMinistryID)}}">
	                                    {% if position.GovMinistryID == 28 %}
	                                        {{position.GovMinistryName}}
	                                    {% else %}
	                                		משרד ממשלתי : {{position.GovMinistryName}}
	                                    {% endif %}
                                    </a>
                                {% endif %}

                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
{% endblock %}